<footer class="footer-distributed">
    <div class="footer-wrapper">
        <div class="footer-left">
            <p class="footer-copyright">
                copyright <i class="fa fa-copyright"></i>
                ·
                Shiouen Development
            </p>
        </div>

        <div class="footer-right">
            <a href="https://www.facebook.com/olivier.vanaken" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/Shiouen" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com/+OlivierVanAken" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
</footer>