        <!-- About SECTION -->
        <section id="about">
            <div id="aboutwrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 name">
                            <img class="img-responsive" src="@Url.Content("~/Content/images/me-very-small.jpg")">
                            <p>OLIVIER VAN AKEN <br /> #shiouen</p>
                            <div class="name-label"></div>
                        </div><! --/col-lg-4-->
                        <div class="col-lg-8 name-desc">
                            <h2>TALENTED DEVELOPER & <br />HARDWARE ENTHUSIAST</h2>
                            <div class="name-zig"></div>

                            <div class="col-md-6">
                                <p>Still a student but no stranger to computer system building, software/web development, design and photography.</p>
                                <p>Core development skills: C++ · C# · Python · Java · HTML/CSS/JavaScript/RESTful web services</p>
                                <p>OO design minded by education and by all means very comfortable with Android and the .NET framework.</p>
                            </div>
                            <div class="col-md-6">
                                <p>My interest towards computer system building has greatly increased over the years.</p>
                                <p>Those years have prepared me well by gathering the necessary knowledge of the current and future possibilities of computer hardware.</p>
                                <p>The computer builds I create are always a perfect fit for the receiving party. May the customers' needs be office, gaming or professional activities, my systems will fullfill all they require.</p>
                            </div>
                        </div><!-- /col-lg-8 -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /aboutwrap -->
        </section>