        <!-- Menu -->
        <nav class="menu" id="theMenu">
            <div class="menu-wrap">
                <h1 class="logo"><a href="#">SHI DEV</a></h1>
                <i class="fa fa-times menu-close"></i>
                <a href="#home" class="smoothScroll">Home</a>
                <a href="#about" class="smoothScroll">About</a>
                <a href="#portfolio" class="smoothScroll">Portfolio</a>
                <a href="#services" class="smoothScroll">Services</a>
                <a href="#contact" class="smoothScroll">Contact</a>

                <a href="https://www.facebook.com/olivier.vanaken" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Shiouen" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/+OlivierVanAken" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="mailto:olivier.va@outlook.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>

            <!-- Menu button -->
            <div id="menuToggle"><i class="fa fa-bars"></i></div>
            <a href="#home" id="toTopToggle" class="fa fa-angle-up smoothScroll"></a>
        </nav>
